*{
    box-sizing:initial;
}

@font-face {
    font-family: irsans;
    src: url(fonts/Sans.ttf);
}

body{
    margin: 0;
    font-family: irsans;
    z-index: 1;
}
@-o-viewport{
    width: 100%;
}
img{
    width:100%;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
.header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1.1rem 0;
    position: fixed;
    margin: auto;
    border-radius: 0 0 6px 6px ;
    background-color: rgba(245, 245, 245, 0.666);
    backdrop-filter: blur(12px);
    width: 100%;
    z-index: 2;
    transition: .3s;
}
.header-logo{
    flex-basis: 10%;
}
.header-logo img{
 display:inline-block;
 align-items: center;
 margin-right: 2rem;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    font-size: 0.85em;
}
.header-menu a{
    transition: 0.3s;
}
.header-menu a:hover{
    color: rgb(59, 132, 147);
    transition: 0.3s;
}
.header-bars{
    flex-basis: 12%;
    display: none;
}
.header-bars span{
    padding: 1px 6px;
    cursor: pointer;
    transition: 0.3s;
}
.header-bars span:hover{
    color: rgb(59, 132, 147);
}
.header-cover{
    padding: 7rem 3rem;
    background-color:rgb(244, 244, 244) ;
    display: flex;
    justify-content: space-around;
}
.header-cover-text{
    flex-basis: 39%;
    margin-top: 3rem;
}
.header-cover-text h1{
    font-size: 3rem;
    color: rgb(19, 50, 101);
}
.header-cover-text p{
    font-size: 0.8rem;
    line-height: 1.6rem;
}
.header-cover__links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 25rem;
    margin-top: 2rem;
}
.header-cover__link1{
    background-color: rgb(123, 169, 213);
    padding: 0.6rem 1rem;
    cursor: pointer;
    color: rgb(23, 29, 89);
    border-radius: 0.6rem;
    display: block;
    width: 6.9rem;
    text-align: center;
    font-size: 0.8rem;
    transition: 0.3s;
}
.header-cover__link1:hover{
    scale: 1.1;
    background-color: rgb(136, 180, 223);
}
.header-cover__link2{
    background-color: rgb(226, 233, 240);
    padding: 0.6rem 1rem;
    cursor: pointer;
    color: rgb(128, 173, 215);
    border-radius: 0.6rem;
    border: solid rgb(142, 181, 217);
    display: block;
    width: 6.9rem;
    text-align: center;
    font-size: 0.8rem;
    transition: 0.3s;
}
.header-cover__link2:hover{
    background-color: rgb(197, 211, 223);
}
.main{
    display: flex;
    justify-content: space-between;

}
.main-img{
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-basis: 45%;
    background-color: rgb(12, 38, 60);
    border-radius: 60px 0px  0px 60px;
}
.main-img img{
    max-width: 80%;
}
.main-content{
    flex-basis: 55%;
    display: flex;
    align-items: center;
    line-height: 2.1rem;
}
.main-content-text h2{
    color: rgb(19, 50, 101);
}
.main-content-text{
    max-width: 80%;
    margin-right: 3rem;
    color: rgb(117, 117, 117);
}
.main-content__link{
    background-color: rgb(226, 233, 240);
    padding: 0.2rem 1rem;
    cursor: pointer;
    color: rgb(128, 173, 215);
    border-radius: 0.6rem;
    border: solid #8eb5d9;
    display: block;
    width: 6.9rem;
    text-align: center;
    font-size: 0.8rem;
    transition: 0.3s;
}
.main-content__link:hover{
    background-color: rgb(197, 211, 223);
}
.topBtn button{
    position: fixed;
    right: .3%;
    top: 80%;
    padding: 11px 15px;
    background-color: rgba(255, 255, 255,0.666);
    border: solid rgba(142, 181, 217,0.666);
    backdrop-filter: blur(12px);
    border-radius: 50%;
    cursor: pointer;
}
.main-information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem auto;
}
.information-cards{
    display: flex;
    flex-direction: row;
    flex-basis: 63%;
    justify-content: space-evenly;
}
.information-card{
    background-color: #0a0434;
    display: flex;
    justify-content: center;
    color: #ffffff;
    flex-basis: 32%;
    min-height: 20rem;
    border-radius: 1.3rem;
    margin: 1rem;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}
.information-card p{
    line-height: 2.5rem;
    font-size: 13px;
    color: rgb(135, 135, 135);
}
.information-card-content{
    padding: 0.5rem 1rem 1rem 2rem;
}

.information-card img:hover{
    margin-bottom: 1rem;
}
.information-card img{
    width: 20%;
    transition: 0.3s;
}
.information-card-content-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 5rem;
}
#phone {
    width: 13%;
}
.information-text{
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 30%;
    
}
.information-text p{
    line-height: 2.1rem;
    font-size: 13px;
    color: #878787;
}
.information-text h3{
    color: rgb(19, 50, 101);
    font-size: 25px;
}
.information__link{
    background-color:#090432 ;
    border: solid  #090432;
    padding: 0.6rem 1rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0.6rem;
    display: block;
    width: 6.9rem;
    text-align: center;
    font-size: 13px;
    transition: 0.3s;
}
.information__link:hover{
    border: solid #8eb5d9;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}
.services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 90%;
    margin: 3rem auto;
}
.services-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #878787;
}
.services-text h2{
    color: rgb(19, 50, 101);
    font-size: 30px;
    margin: 0;
}
.services-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-basis: 100%;
}
.services-card{
    background-color: #0a0434;
    display: flex;
    justify-content: center;
    color: #ffffff;
    flex-basis: 24.33%;
    min-height: 20rem;
    border-radius: 1.3rem;
    margin: 2rem  1rem;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}
.services-card-content{
    padding: 0.5rem 1rem 1rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.services-card-content p{
    line-height: 2.5rem;
    font-size: 12px;
    color: rgb(135, 135, 135);
}
.services-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
}
.services-card-img img{
    width: 23%;
    transition: 0.3s;
}
.services-card-img img:hover{
    margin-bottom: 1rem;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}
.contact-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto;
    flex-basis: 80%;
}
.contact-text{
    display: flex;
    margin: 6rem 0;
    flex-direction: column;
    line-height: 2.5rem;
    flex-basis: 60%;
}
.contact-button-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-text a{
    text-align: center;
    font-size: 1.7em;
    background-color: #07226AA1;
    border-radius: 9px;
    width: 100%;
    padding: 0 1.5rem;
    color: #ffffff;
    transition: 0.18s;
}
.contact-text p{
    color: #878787;
}
.phone{
    margin: 2rem 0;
    
}
.phone a:hover{
    background-color: rgb(51, 62, 123);
}
.mail a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(135, 135, 135);
}
.contact-form{
    flex-basis: 40%;
}
.contact-prompt{
    background-color: #0C0E39E3;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prompt-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 30px;
    justify-content: space-around;
}
.prompts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.prompt{
    padding: 1rem 0.6rem 1rem 13rem;
    text-align: right;
    color: #0A0A0A;
    background-color: #ced4da;
    border: solid 2px rgb(123, 94, 94);
    text-indent: 0px;
    box-shadow: 0px 16px 20px -5px rgba(109.00000000000004, 171.00000000000003, 216.99999999999997, 0.17);
    margin: 0.5rem 0;
    border-radius: 12px;
    font-size: 16px;
    border: none;
    text-align: right;
    font-family: irsans;
}
.prompt{
    border: 2px solid #ced4da;
    transition: 0.3s;
}
.prompt:hover{
   box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}
.prompt--link{
    cursor: pointer;
    background-color: #6dabd9;
    font-family: irsans;
    border: none;
    color: #000000 ;
    border-radius: 10px ;
    padding: 8px 0px ;
    margin: 1rem 0;
    font-weight: bold;
    padding: 1rem 7rem;
    box-shadow: 0px 16px 40px -10px rgba(119.00000000000001, 226.00000000000003, 222, 0.5);
}
.steps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}
.steps-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%;
}
.right-steps{
    display: flex;
    margin: 6rem 0;
    flex-direction: column;
    line-height: 2.5rem;
    flex-basis: 45%;
}
.right-steps-text p{
    color: rgb(135, 135, 135);
}
.left-steps-text span{
    display: none;
}
.steps__link{
    background-color: rgb(123, 169, 213);
    padding: 0rem 1rem;
    cursor: pointer;
    color: rgb(23, 29, 89);
    border-radius: 0.6rem;
    display: block;
    width: 6.9rem;
    text-align: center;
    font-size: 0.8rem;
    transition: 0.3s;
}
.steps__link:hover{
    scale: 1.1;
    background-color: rgb(136, 180, 223);
}
.numbers-divider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-steps{
    display: flex;
    flex-basis: 50%;
}
.number{
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}
.divider{
    width: 90px;
    margin: 1.8rem ;
    border: solid #6ec1e4;
    transform: rotateZ(90deg);
}
.left-steps-text{
    margin-bottom: 30px;
    color: #AAA8A8;
}
.left-steps-text h3{
    color: #002486;
}
.tile-container{
    background-color: rgb(252, 252, 252);
    padding: 4rem 0;
}
.tile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}
.tile2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
}
.tile-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 45%;
    min-height: 24rem;
    background-color: #202249;
    border-radius: 60px 0px 0px 60px;
}
.tile-img-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 45%;
    min-height: 24rem;
    background-color: #202249;
    border-radius: 0px 60px 60px 0px;
}
.tile-img img{
    width: 50%;
    margin: 4rem;
 }
 .tile-img-left img{
    width: 50%;
    margin: 4rem;
 }
.tile-text{
    flex-basis: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tile-texts{
    width: 70%;
    margin-right: 4rem;
}
.tile-texts p{
    color: #5A5A5A;
    font-size: 15px;
    line-height: 2em;
}
.tile-texts h2{
    font-size: 30px;
}
footer{
    background-image: url('img\'s/map.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.footer-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 5rem 4rem;
}
.footer-links p {
    border-bottom: solid 1px #b0b0b1;
    width: 8rem;
    padding: 0 0 1rem 6rem;
}
.footer-links{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 33%;
}
.footer-links a{
    margin-bottom: 1.7rem;
    font-size: 12px;
    transition: 0.3s;
}
.footer-links a:hover{
    color: #006edf;
}
.footer-links span{
    margin-left: 0.8rem;
    color: #094EB6;
    font-size: 15px;
}
.footer-links-right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 33%;
}
.footer-links-right a{
    margin-bottom: 1.7rem;
}
.footer-links-right span{
    margin-left: 0.8rem;
    color: #094EB6;
    font-size: 15px;
}
.footer-links-right p{
    border-bottom: solid 1px #b0b0b1;
    width: 8rem;
    padding: 0 0 1rem 6rem;
}
.footer-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
}
.footer-info p{
    line-height: 2.4rem;
    font-size: 12px ;
    color: #424141;
}
.footer-logo{
    max-width: 28%;
    border-bottom: solid 1px #b0b0b1;
    padding: 0 7rem 1rem 7rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-licences{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-licences img{
    max-width: 20%;
    margin: 1rem;
    cursor: pointer;
}
.footer-socialMedia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: rgb(3,21,73);
    color: #ABA9A9;
    font-size: 13px;
}
.socialMedias{
    color: #003261;
}
.socialMedias a{
    font-size: 15px;
    padding:4px 9.5px;
    border-radius: 50%;
    background-color: #BFBFBF;
    margin-right: 1rem;
    transition: 0.3s;
}
.socialMedias a:hover{
    background-color: #b0b0b0;
}
/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .header-bars{display: block;}
    .header-menu{display: none;}
    .header-top{
        justify-content: space-between;
    }
    .header-cover{
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
    }
    .header-cover-img{
        margin-top: 4rem;
        width: 60%;
        align-items: center;
    }
    .main{
        align-items: center;
    }
    .main-img{
        height: 50vh;
    }
    .main-img img{
        width: 100%;
        padding: 1rem 0;
    }
    .main-information{
        flex-direction: column;
    }
    .information-text{
        margin: 0 2rem;
    }
    .services-cards{
        flex-wrap: wrap;
    }
    .services-card{
        flex-basis: 45%;
    }
    .contact-container{
        flex-direction: column;
    }
    .steps-container{
     flex-direction: column;
    }
    .footer-container{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 992px) {
   
    
}

@media only screen and (max-width: 768px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
    .tile{
        flex-direction: column;
        margin-bottom: 0;
        padding: 1rem;
    }
    .tile2{
        flex-direction: column-reverse;
        margin-bottom: 0;
        padding: 1rem;
    }
    .tile-text{
        align-items: center;
        width: 100%;
        
    }
    .tile-img-left{
        flex-basis: 100%;
        border-radius: 0;
        justify-content: center;
       
    }
    .tile-img{
        flex-basis: 100%;
        border-radius: 0;
        justify-content: center;
    }
    .footer-info{
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .header-cover-text h1{
        font-size: 2.5em;
    }
    .headd{
        flex-basis: 100%;
    }
    .header-cover__links{
        flex-direction: column;
    }
    .header-cover__link1{
        margin-bottom: 1rem;
    }
    .header-cover-img{
        width: 80%;
    }
    .header-cover-img img{
        width: 100%;
    }
    .information-cards{
        flex-wrap: wrap;
    }
    .information-card{
        flex-basis: 100%;
    }
    .services-card{
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: 100%;
    }
    .prompt-holder{
         width: 100%;
         margin: 2rem;
    }
    .prompts{
        padding: 1rem;
    }
    .prompt{
        padding: 1rem 0.5rem 1rem 4rem;
    }
    .prompt__link{
        padding: 1rem 2.5rem;
    }
    .steps{
        margin: 0;
    }
    .left-steps-text span{
        display: block;
        width: 20%;
    }
     .numbers-divider{
        display: none;
     }
    
     .tile-texts p{
        font-size: 13px;
     }
     .tile-texts h2{
        font-size: 22px;
     }
    .phone a{
        font-size:1.5rem ;
        padding: 0 1rem;
    }
    .mail a{
        font-size:1.5rem ;
        padding: 0 1rem;
    }
    .footer-socialMedia{
        flex-direction: column;
        padding: 1rem 0;
    }
    .footer-socialMedia p{
        font-size: 10px;
        padding-bottom: 1rem;
    }
}

.vv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1.1rem 0;
    border-radius: 0 0 6px 6px ;
    box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.16) ; 
    position: fixed;
    margin: auto;
    background-color: rgba(235, 235, 235, 0.666);
    backdrop-filter: blur(12px);
    width: 100%;
    z-index: 2;
    transition: .3s;
}